* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.top{
    width: 100%;
    height: 50px;
    background-color: #ff9a4b;
}

main{
    width: 960px;
    margin: 50px auto;
    display: flex;
}

.content1{
    width: 300px;
    background-color: #eeeeee;
    position: relative;
}

.image1{
    height: 150px;
    background-image: url(img/flow01.png);
    background-position: bottom;
    background-size: cover;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.title{
    margin-top: 15px;
    margin-bottom: 5px;
}

.steps{
    position: absolute;
    left: 0;
    top: 0;
    padding: 3px;
    background-color: #ff9a4b;
    color: #fff;
}

.image2{
    height: 150px;
    background-image: url(img/flow02.png);
    background-position: bottom;
    background-size: cover;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.image3{
    height: 150px;
    background-image: url(img/flow03.png);
    background-position: bottom;
    background-size: cover;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.content1:nth-child(1), .content1:nth-child(2){
    margin-right: 30px;
}

.bottom{
    height: 50px;
    width: 100%;
    background-color: #aaaaaa;
}